<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Setu task tracker{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand">Task Tracker</div>
        <div class="nav-links">
            {% if logged_in %}
                <a href="{{ url_for('signup') }}" class="nav-link {% if active_page == 'signup' %}active{% endif %}">Signup</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>