{% extends "base.html" %}
{% block title %} Form {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}
    <div class="body">
        <form action="{{url_for('handletask')}}" method="POST" class="adminFilled">
            <input type="text" name="title" id="taskTitle" placeholder="Task Title" required>
            <select name="catagorySelection" id="catagorySelection" required>
                <option value="NULL">--Select Catagory--</option>
                <option value="Admin">Admin</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Volunteer">Volunteer</option>
            </select>
            <select name="assignedto" id="individualName" required>
                <option value="null">--Select Option--</option>
            </select>
            <select name="visibility" id="visibility" required>
                <option value="public">Public</option>
                <option value="private" selected>Private</option>

            </select>
            <textarea name="description" id="taskDescription" placeholder="Task Description" required></textarea>
            <label for="Deadline">Deadline:</label> 
            <input type="datetime-local" name="deadline" id="Deadline" placeholder="Deadline" required>
            <button type="submit">Add Task</button>
            </form> 
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    const catagorySelection = document.getElementById("catagorySelection");
    const individualName = document.getElementById("individualName");
    const itemData = {
    Admin: [
        { value: "1", Text: "Aadi" },
    ],
    Supervisor: [
        { value: "2", Text: "Anup" },
        { value: "3", Text: "Diwas" },
        { value: "4", Text: "Mohit" },
        { value: "5", Text: "Prashansa" },
        { value: "6", Text: "Puza" },
        { value: "7", Text: "Sapana" },
        { value: "8", Text: "Swasthi" },
        { value: "9", Text: "Swoyam" },
    ],
    Volunteer: []
}
    catagorySelection.addEventListener('change',()=>{
        const selectedCatagory = catagorySelection.value;
        individualName.innerHTML="<option value='null'>--Select Option--</option>";

        if(selectedCatagory && itemData[selectedCatagory]){
            itemData[selectedCatagory].forEach((element) => {
                let newOption = document.createElement("option");
                newOption.value = element.value;
                newOption.textContent = element.Text;
                individualName.appendChild(newOption);
            });
        }
    });
</script>
{% endblock %}
